<html>
    <head></head>
        <body>
            <h3>PREVENTIVE TO PREDICTIVE MAINTENANCE</h3>
            <form action ="/ppm" method="POST">
                Data_No:
                <input type="text" name="Data_no"><br><br>
                Differential_pressure:
                <input type="text" name="dp"><br><br>
                Flow_rate:
                <input type="text" name="fr"><br><br>
                Time:
                <input type="text" name="time"><br><br>
                Dust_feed:
                <input type="text" name="df"><br><br>
                Dust:
                <input type="text" name="dust"><br><br>
                <input type="submit">

               




            </form>

            {{result}}

            
        </body>
</html>